<div id="cp-sidebar">
	<%= link_to "Profile", '#' %><br/>
	<%= link_to "Friends", '#' %><br/>
	<%= link_to "Collections", '#' %>
</div>
<div id="cp-user-info">
	<center>
	<table>
		<tr>
			<th colspan="2">User Profile</th>
		</tr>
		<tr>
			<td>Name:</td>
			<td>Some Body</td>
		</tr>
		<tr>
			<td>Email:</td>
			<td>somebody@somewhere.com</td>
		</tr>
		<tr>
			<td>Username:</td>
			<td>somebody@somewhere.com</td>
		</tr>
	</table>
	<%= link_to "Edit", '#' %>
	</center>
</div>