<table>
	<% 
	   search_condition = "%" + params[:q] + "%"
       @games = Game.find(:all, :conditions => ['name LIKE ?', search_condition])
       @games.sort! { |a,b| a.name.downcase <=> b.name.downcase }
    %>
    <% @games.each do |game| %>
    <tr>
		<td><%= link_to "#{game.name}", gpage_path(:param1 => game) %></td>
	</tr>
	<% end %>
</table>