<div id="game-info">
	<% if !params[:param1].nil?
	     @game = Game.find_by_id(params[:param1])
	   end
	%>
	<div class="game-page-title"><%= if !@game.nil?
		                               @pic = @game.image
		                               @desc = @game.description
		                               @game.name
		                             else
		                               @pic = "none.jpg"
		                               @desc = "No description available."
		                               "Game Title Here"	
		                             end 
		                         %></div>
	<%= image_tag(@pic, :alt => "No Image", :class => "game-page-image") %>
	<div class="game-page-description"><%= @desc %></div>
</div>