<div id="banner">
   <div id="logo">SITE LOGO HERE! LINKS TO HOME PAGE!</div>
   <div id="users"><a href="" title="Links to user listing">Users</a></div>
   <div id="search">
      <input type="text" size="20" maxlength="50" />
      <input type="submit" name="searchsubmit" value="Search" />
   </div>
   <div id="login">
      <a href="" title="Links to registration form">Register</a>
      <label>Username: <input type="text" size="15" maxlength="25" name="username" /></label>
      <label>Password: <input type="password" size="10" maxlength="20" name="pass" /></label>
      <input type="submit" name="logon" value="LOGIN" />
   </div>
</div>